{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>ConnectedIn</title>
	<link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles/main.css' %}">

	<script src="{% static 'scripts/vendor/jquery-1.9.1.js' %}"></script>
	<script src="{% static 'scripts/vendor/bootstrap-min.js' %}"></script>
	<script src="{% static 'scripts/vendor/bootbox.min.js' %}"></script>
	<script src="{% static 'scripts/vendor/app.js' %}"></script>




</head>

<body>
	<div class="container">
		<div class="header">
			{% if request.user.perfil %}

			<ul class="nav nav-pills pull-right">
				<li>
					<div class="container">
						<form class="form-signin" method="post" action="{% url 'pesquisar' %}">

							{% csrf_token %}
							<input name="nome" id="nome_id" required placeholder="{% trans   'Pesquisar usuário' %}" style="min-height: 33px; min-width: 300px;">
							<button class="btn btn-primary" type="submit">{% trans 'Pesquisar' %}</button>
						</form>
					</div>
				</li>
				<li><form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
        {% endfor %}
      </select>
      <input type="submit" value="Go">
    </form></li>

				<li><a href="{% url 'meu_perfil' %}">{{ perfil_logado.nome }}</a></li>
				<li><a href="/logout/">{% trans 'Logout' %}</a></li>
			</ul>

			<a href="{% url 'index' %}" style="text-decoration:none">

				<h3 class="text-muted">ConnectedIn</h3>

			</a>


			{% else %}
			<h3 class="text-muted">ConnectedIn</h3>

			{% endif %}
			
		</div>

		<div class="row content">

			{% block body %}


			{% endblock %}
		</div>
	</div>
</body>

</html>